{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div>
        <h1>Recettes</h1>
        <div class="row">
            {% for recette in recettes %}
                <div class="card mt-2">
                    <ul class="card-body">
                        <li> <i class="fa fa-shopping-cart" aria-hidden="true"> </i>
                            <a href="{{ path('recette_show', {'id': recette.id}) }}">{{ recette.name }}</a>
                        </li>
                        <li> <i class="fa fa-clock" aria-hidden="true"> </i>Temps de cuisson : {{ recette.cuissonTime }}</li>
                        <li> <i class="fa fa-clock" aria-hidden="true"> </i>Temps de préparation : {{ recette.preparationTime }}</li>
                    </ul>
                </div>
            {% else %}
            <div class="card card-block">
                <p class="card-text">Pas de recette ajouté !!</p>
            </div>
            {% endfor %}
        </div>
        <a href="{{ path('recette_new') }}">Ajouter une recette</a>
    </div>
{% endblock %}