{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ recette.name }}</td>
            </tr>
            <tr>
                <th>temps de preparation</th>
                <td>{{ recette.preparationTime }}</td>
            </tr>
            <tr>
                <th>temps de cuisson</th>
                <td>{{ recette.cuissonTime }}</td>
            </tr>
        </tbody>

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Ingrédiants
            </div>
            <ul class="list-group list-group-flush">
                {% for ingredient in recette.ingredient %}
                    <li class="list-group-item">{{ ingredient.name }} => {{ ingredient.type }}</li>
                {% else %}
                    <div class="card card-block">
                        <a href="{{ path('recette_ingredient_new', {'id': recette.id}) }}">Ajouter des ingredients</a>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </table>
    <a href="{{ path('recette_ingredient_new', {'id': recette.id}) }}">Ajouter des ingredients</a>|

    <a href="{{ path('recette_index') }}">back to list</a>|

    <a href="{{ path('recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
